<%# WELCOME USER> SIGN IN OR SIGN UP%>
<div>

<h1>CAPTION IT!</h1>

<h2>Welcome! Come Play!</h2>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/users/new', method: :get %>

</div>