/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #f1f1f1;
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
}

.app-cont {
  max-width: 1080px;
  margin: 0 auto;
}

.app-cont-thin {
  max-width: 650px;
  background: #fff;
  padding: 1em 0;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #cfcece;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #cfcece;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div {
  margin-left:15%;
  padding: 3px 30px;
  height:1000px;
}

li input{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.inline_form {
  display: inline;
}

.text_field {
  width: 300px;
}

div.gallery img {
  height: 10px;
}

p.inline {
  position: relative; 
  display: inline
}


h3.home {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  display: inline;

}

form.button_to {
  display: inline-block;
  position: relative;
}

h4.home {
  display: inline;
}



/* 
.checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
} */
 

